
.fundo1 {
    -fx-background-color: #393351;
}

.fundo2 {
    -fx-background-color: #342543;
}

.bt-menu {
    -fx-background-color: #393351;
    -fx-background-radius: 0;
    -text-fill: #fff;
}

.bt-menu:hover {
    -fx-background-color: #524A7B;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #fafafa;
}

.bt-menu:pressed {
    -fx-background-color : #342543;
}

.texto {
    -fx-text-fill: #fff;
}

.scroll-pane .viewport {
    -fx-background-color: transparent
}

.scroll-pane {
    -fx-background-color: transparent
}

.bt-pesquisa {
    -jfx-unfocus-color: #fff;
    -fx-text-fill: #fff;
}

.item {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #0e73e5
}