
.fundo-preto {
    -fx-background-color:#2b2b3c;
}

.fundo-claro {
    -fx-background-color: #fafafa
}

.cor-principal {
    -fx-background-color: #0e73e5;
}

.cor-secundaria {
    -fx-background-color: #ffffff;
}

.cor-erro {
    -fx-background-color: #ed1d0d
}

.cor-sucesso {
    -fx-background-color: #33ff33
}

.cor-info {
    -fx-background-color: #42ade5
}

.cor-alerta {
    -fx-background-color: #ffad00
}

.bt-principal {
    -fx-background-color: #0e73e5;
    -fx-background-radius: 15px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 15px
}

.bt-secundario {
    -fx-background-color: #ffffff;
    -fx-border-color: #0e73e5;
    -fx-border-radius: 5px
}

.bt-erro {
    -fx-background-color: #ed1d0d;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px
}

.bt-sucesso {
    -fx-background-color: #33ff33;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px
}

.bt-info {
    -fx-background-color: #42ade5;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px
}

.bt-alerta {
    -fx-background-color: #ffad00;
    -fx-border-color: #ffffff;
    -fx-border-radius: 5px
}

.bt-login {
        -fx-background-radius: 15px;
        -fx-text-fill: #0e73e5;
        -fx-border-color: #0e73e5;
        -fx-border-width: 2px;
        -fx-border-radius: 15px
}

.bt-login:hover {
    -fx-background-color: #0e73e5;
        -fx-background-radius: 15px;
        -fx-text-fill: #ffffff;
        -fx-border-radius: 15px
}

.bt:hover, .bt:hover .pane .img, .bt-secundario:hover,
    .bt-alerta:hover, .bt-erro:hover, .bt-info:hover,  .bt-sucesso:hover {
    -fx-scale-z: 1.05;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.bt-compra-menu, .bt-venda-menu, .bt-fornecedor-menu,
    .bt-estoque-menu, .bt-funcionario-menu, .bt-cliente-menu {
    -fx-border-color: #ffffff;
    //-fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 10px;
}

.borda-branca:hover {
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
}

.menu-bar {
    -fx-background-color:#2b2b3c;
}

.menu .label {
    -fx-text-fill: #ffffff;
}

.menu:hover, .menu:showing {
    -fx-background-color: #1f1f2b;
}

.menu:hover .label {
    -fx-text-fill: #ffffff;
}

.menu-item {
    -fx-background-color: #2b2b3c;
}

.menu-item .label {
    -fx-text-fill: #ffffff;
}

.menu-item:hover {
    -fx-background-color: #fafafa;
}

.menu-item:hover .label {
    -fx-text-fill: #000000;
}