
.fundo1 {
    -fx-background-color: #fff;
}

.fundo2 {
    -fx-background-color: #c9c5c5;
}

.bt-menu {
    -fx-background-color: #fff;
    -fx-background-radius: 0;
    -fx-text-fill: #000;
}

.bt-menu:hover {
    -fx-background-color: #c9c5c5 ;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #000;
}

.bt-menu:pressed {
    -fx-background-color: #c9c5c5
}

.texto {
    -fx-text-fill: #000;
}

.scroll-pane .viewport {
    -fx-background-color: transparent
}

.scroll-pane {
    -fx-background-color: transparent
}

.bt-pesquisa {
    -jfx-unfocus-color: #000;
    -fx-text-fill: #000;
}

.item {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #000
}