.cor-principal {
    -fx-background-color: #0e73e5;
}

.cor-secundaria {
    -fx-background-color: #000;
}

.cor-erro {
    -fx-background-color: #ed1d0d
}

.cor-sucesso {
    -fx-background-color: #33ff33
}

.cor-info {
    -fx-background-color: #42ade5
}

.cor-alerta {
    -fx-background-color: #ffad00
}

.bt-principal {
    -fx-background-color: #0e73e5;
    -fx-background-radius: 15px;
    -fx-border-color: #000;
    -fx-border-radius: 15px
}

.bt-secundario {
    -fx-background-color: #000;
    -fx-border-color: #0e73e5;
    -fx-border-radius: 5px
}

.bt-erro {
    -fx-background-color: #ed1d0d;
    -fx-border-color: #000;
    -fx-border-radius: 5px
}

.bt-sucesso {
    -fx-background-radius: 15px;
    -fx-text-fill: #1dbf2d;
    -fx-border-color: #1dbf2d;
    -fx-border-width: 2px;
    -fx-border-radius: 15px
}

.bt-sucesso:hover {
    -fx-background-color: #1dbf2d;
    -fx-text-fill: #000;
}

.bt-info {
    -fx-background-color: #42ade5;
    -fx-border-color: #000;
    -fx-border-radius: 5px
}

.bt-alerta {
    -fx-background-color: #ffad00;
    -fx-border-color: #000;
    -fx-border-radius: 5px
}

.bt:hover, .bt-secundario:hover,
    .bt-alerta:hover, .bt-erro:hover, .bt-info:hover {
    -fx-scale-z: 1.05;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.rb-modo {
    -fx-text-fill: #342543;
}

.rb-modo:selected {
    -fx-text-fill: #000;
}

.radio {
    -jfx-selected-color: #0e73e5;
}

.bt-eliminar {
    -fx-background-radius: 15px;
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-border-radius: 15px
}

.bt-eliminar:hover {
    -fx-background-color: red;
    -fx-background-radius: 15px;
    -fx-text-fill: #ffffff;
    -fx-border-color: red;
    -fx-border-radius: 15px
}

.bt-login {
    -fx-background-radius: 15px;
    -fx-text-fill: #0e73e5;
    -fx-border-color: #0e73e5;
    -fx-border-width: 2px;
    -fx-border-radius: 15px
}

.bt-login:hover {
    -fx-background-color: #0e73e5;
    -fx-text-fill: #fff;
}